<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Customers</h3>
<a th:href="@{/customer/create}">
    Create new customer
</a>
<a th:href="@{/}">
    Back to customer list
</a>

<p>
<div id="form1">
    <form action="#" th:action="@{/customer/search}"
          method="GET" novalidate="novalidate">
        <label>
            <input type="text" name="input" id="input">
            <button type="submit" style="height: 40px; width: 70px">Search</button>
        </label>
    </form>
</div>
</p>
<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${customers}">
        <!--        <td th:text="${row.getId()}"></td>-->
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td><a th:href="@{/customer/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/customer/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<!--<script th:replace="/fg_script :: scriptABC"></script>-->

<th:block th:replace="/fg_script :: scriptAbc">
    
</th:block>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>