# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\CodeGymJame\Java_SpringMVC\Validation\Practice\ValidatingFormInput\custom-phone-validation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
